*{
	margin: 0;
	padding: 0;
}
.container{
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container h2{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	font-size: 25vw;
	color: #000;
	text-align: center;
	text-transform: uppercase;
	font-family: sans-serif;
	line-height: 100vh;
	mix-blend-mode: screen;
	text-shadow: 3px 4px 2px 2px black;
}